<main class="goals_page">
    <h1>Doelen</h1>
      <form class="add_goal">
              {{#each food_goals}}
              <section> 
              <h3> 
                <input  type="checkbox" 
                        id={{this.title}} 
                        name="goal"
                        class="goal_input"
                        value={{this.title}}>
                 <label for={{this.title}} ></label>
                 {{this.title}}
                 </h3>
                 <article> 
                    <label for="repetition"><h3>Hoe vaak wil je het herhalen? </h3> </label>  
                    <input type="number" 
                        name="repetition" 
                        id="repetition_{{this.title}}"
                        {{!-- placeholder="3"  --}}
                        min="1"/>
                    
                    <label for="timeframe" id={{this.title}}><h3> Voor hoe lang wil je het volhouden?</h3> </label>
                    <select name="timeframe" 
                            id="timeframe_{{this.title}} ">
                        <option value="Dagelijks">Dagelijks</option>
                        <option value="Wekelijks">Wekelijks</option>
                        <option value="Maandelijks">Maandelijks</option>
                    </select>
                </section>
              </article>
            {{/each}}
                <input type="submit" value="+ Maak doel(en) aan" />
        </form>
          
        <ul class="unordered_goal_list">
        </ul>
        
    <div class="button_wrapper">
        <button><span>+</span></button>
    </div>
</main>




    {{!-- <form class="add_goal">
        <input class="goal" type="text" name="goal" placeholder="Enter goal Name" required />
        <input type="number" name="reps" placeholder="# of Repetitions" min="1" required />
            <label for="length">Hoe vaak?</label>
            <input type="checkbox" id="length">
            <input type="checkbox" id="length">
            <input type="checkbox" id="length">
            <input type="checkbox" id="length">
            <label for="time_reminder">Hoelaat wil je een herinnering krijgen?</label>
            <input type="time" id="time_reminder" name="time_reminder" min="06:00" max="23:00">
        <input type="submit" value="+ Add goal" />
    </form>

    <ul class="goals_list">
        <li></li>
    </ul> --}}
    
        {{!-- <form class="add_goal">
            <input class="goal" type="text" name="goal" placeholder="Enter Habit Name" required />
            <input type="number" name="repetitions" placeholder="# of Repetitions" min="1" required />
            <div class="frequency">
                <label for="timeframe">Frequentie: </label>
                <select name="timeframe" id="timeframe">
                    <option value="Daily">Dagelijks</option>
                    <option value="Weekly">Wekelijks</option>
                    <option value="Monthly">Maandelijks</option>
                    <option value="Yearly">Jaarlijks</option>
                </select>
            </div>
            <input type="submit" value="+ Add Habit" />
        </form>

        <ul class="goals">
            <li></li>
        </ul> --}}
