<main class="goals_page">
    <h1>Doelen</h1>
    <form class="add_goal">
        {{#each food_goals}}
            <section>
                <h3>
                    <input type="checkbox" id={{this.title}} name="goal" class="goal_input" value={{this.title}}>
                    <label for={{this.title}}></label>
                    {{this.title}}
                </h3>
                <article>
                    <label for="repetition">
                        <h3>Hoe vaak wil je het herhalen? </h3>
                    </label>
                    <input type="number" name="repetition" id="repetition_{{this.title}}" {{!-- placeholder="3" --}}
                        min="1" />

                    <label for="timeframe" id={{this.title}}>
                        <h3> Voor hoe lang wil je het volhouden?</h3>
                    </label>
                    <select name="timeframe" id="timeframe_{{this.title}} ">
                        <option value="Dagelijks">Dagelijks</option>
                        <option value="Wekelijks">Wekelijks</option>
                        <option value="Maandelijks">Maandelijks</option>
                    </select>
            </section>
            </article>
        {{/each}}
        <input type="submit" value="Voeg toe" />
    </form>

    <ul class="unordered_goal_list">
    </ul>

    <div class="button_wrapper">
        <button id="add"><span>+</span></button>
    </div>
</main>

{{!-- <label for="time_reminder">Hoelaat wil je een herinnering krijgen?</label>
<input type="time" id="time_reminder" name="time_reminder" min="06:00" max="23:00"> --}}