<main class="goals_page">
    <header>
        <h1>{{name}}'{{#ifCond s false}}s{{/ifCond}} doelen</h1>

        <form action="/goals" method="post">
            <input type="hidden" class="name" name="name">
            <input type="hidden" class="email" name="email">
            <button type="submit" aria-label="Naar profielpagina" class="button_type_2">
                <svg xmlns="http://www.w3.org/2000/svg" width="34.13" height="34.13" viewBox="0 0 34.13 34.13">
                    <g data-name="Group 188" transform="translate(-343.006 -30)">
                        <g>
                            <g>
                                <circle data-name="Ellipse 12" cx="12" cy="12" r="12" transform="translate(348 38)"
                                    fill="#a9a9a9" />
                                <path
                                    d="M150.345,63.281A17.065,17.065,0,1,0,167.41,80.346,17.078,17.078,0,0,0,150.345,63.281Zm0,8.731a5.291,5.291,0,1,1-5.291,5.291A5.307,5.307,0,0,1,150.345,72.012Zm0,21.871a13.493,13.493,0,0,1-8.555-3.043,10.9,10.9,0,0,1,17.109,0A13.5,13.5,0,0,1,150.345,93.883Z"
                                    transform="translate(209.726 -33.281)" fill="#ededed" />
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </form>

        {{!-- <a href="/profile?name={{name}}" aria-label="Naar profielpagina">
            <svg xmlns="http://www.w3.org/2000/svg" width="34.13" height="34.13" viewBox="0 0 34.13 34.13">
                <g data-name="Group 188" transform="translate(-343.006 -30)">
                    <g>
                        <g>
                            <circle data-name="Ellipse 12" cx="12" cy="12" r="12" transform="translate(348 38)"
                                fill="#a9a9a9" />
                            <path
                                d="M150.345,63.281A17.065,17.065,0,1,0,167.41,80.346,17.078,17.078,0,0,0,150.345,63.281Zm0,8.731a5.291,5.291,0,1,1-5.291,5.291A5.307,5.307,0,0,1,150.345,72.012Zm0,21.871a13.493,13.493,0,0,1-8.555-3.043,10.9,10.9,0,0,1,17.109,0A13.5,13.5,0,0,1,150.345,93.883Z"
                                transform="translate(209.726 -33.281)" fill="#ededed" />
                        </g>
                    </g>
                </g>
            </svg>
        </a> --}}
    </header>
    <form class="add_goal" action="/add_goals" method="post">
        <h2>Kies uw doel uit</h2>
        <div class="close_popup">
            <svg xmlns="http://www.w3.org/2000/svg" width="35.461" height="35.461" viewBox="0 0 35.461 35.461">
                <path id="noun-plus-518521"
                    d="M158.27,75.663h-6.98v-6.98a2.807,2.807,0,0,0-5.6,0v6.98h-7a2.807,2.807,0,0,0,0,5.6h6.98v7a2.807,2.807,0,1,0,5.6,0v-6.98h7a2.807,2.807,0,0,0,0-5.613Z"
                    transform="translate(-31.697 -142.987) rotate(45)" fill="#282727" />
            </svg>
        </div>
        <fieldset>

            {{#each goals}}
                <input type="checkbox" id="{{name}}" name="goal" class="goal_input" value="{{name}}">
                <label for="{{name}}" class="goal_card {{#ifCond category "Beweging" }}exercise">
            {{else}}">{{/ifCond}}
                <img src="{{icon}}" loading="lazy">
                <h3 {{#ifCond category "Beweging" }} class="exercise">{{else}}>{{/ifCond}} {{name}}</h3>
                </label>
            {{/each}}
        </fieldset>
        <input type="hidden" class="name" name="name">
        <input type="hidden" class="email" name="email">
        <input type="submit" value="Voeg toe" />
    </form>
    {{#ifCond user_goals.length 0}}
        <section class="empty_state">
            <img src="/images/onboarding_3.webp" loading="lazy">
            <p>Begin met het aanmaken van doelen! Voor jou samengesteld. Het is aan te raden om er op 2 à 3 te focussen.
            </p>
        </section>
    {{/ifCond}}

    <ul class="unordered_goal_list">
        {{#each user_goals}}
            <li {{#ifCond goal.category "Beweging" }} class="exercise">{{else}}>{{/ifCond}}
                <section>
                    <form action="/delete_user_goal" method="post" class="delete">
                        <input type="hidden" name="id" value={{id}}>
                        <input type="hidden" class="name" name="name">
                        <input type="hidden" class="email" name="email">
                        <button type="submit" class="button_type_2"></button>
                    </form>
                    <div class="confetti_container hide_state">
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                    </div>
                    <article>
                        <h2>{{goal.name}}</h2>
                        <p><span class="repetition_change">{{streak}}</span>/21 dagelijks</p>
                    </article>
                    <label for="goal_{{id}}">
                        {{!-- <input type="checkbox" data-index={{id}} name="goal_{{id}}" id="goal_{{id}}" {{#ifCond streak 21}}
                        checked{{/ifCond}} /> --}}
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark_circle {{#ifCond goal.category "Beweging" }} exercise"{{else}}"{{/ifCond}} cx="26" cy="26" r="25" fill="none" />
                              <path class="checkmark_plus" d="M158.27,75.663h-6.98v-6.98a2.807,2.807,0,0,0-5.6,0v6.98h-7a2.807,2.807,0,0,0,0,5.6h6.98v7a2.807,2.807,0,1,0,5.6,0v-6.98h7a2.807,2.807,0,0,0,0-5.613Z" transform="translate(-123 -53)" fill="var(--secundary)"/>      
                            <path class="checkmark_check {{#ifCond goal.category "Beweging" }} exercise"{{else}}"{{/ifCond}} fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                        <form class="increase_streak" action="/increase_streak" method="post">
                            <input type="hidden" name="id" value={{id}}>
                            <input type="hidden" name="streak" value={{streak}}>
                            <input type="hidden" class="name" name="name">
                            <input type="hidden" class="email" name="email">
                            <input type="submit" class="hide_state">
                        </form>
                    </label>
                    <div id="progress">
                        <div {{#ifCond goal.category "Beweging" }} class="exercise">{{else}}>{{/ifCond}}</div>
                    </div>
                </section>
            </li>
        {{/each}}
    </ul>



    <div class="button_wrapper">
        <button id="add">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.009" height="13.126" viewBox="0 0 13.009 13.126">
                <path id="noun-plus-518521"
                    d="M147.66,71.084h-3.638V67.446a1.463,1.463,0,0,0-2.916,0v3.638h-3.647a1.463,1.463,0,0,0,0,2.916H141.1v3.647a1.463,1.463,0,1,0,2.916,0V74.009h3.647a1.463,1.463,0,0,0,0-2.925Z"
                    transform="translate(-136.114 -66.101)" fill="#282727" />
            </svg>
            Maak doel aan
        </button>
    </div>
</main>
{{!-- <label for="time_reminder">Hoelaat wil je een herinnering krijgen?</label>
<input type="time" id="time_reminder" name="time_reminder" min="06:00" max="23:00"> --}}


{{!-- <svg xmlns="http://www.w3.org/2000/svg" width="29.472" height="25.187" viewBox="0 0 29.472 25.187">
    <path id="Path_62" data-name="Path 62"
        d="M136.248,105.171l-3.225-4.623a3.393,3.393,0,0,0-5.566,3.883l6,8.6a3.4,3.4,0,0,0,4.725.842,3.354,3.354,0,0,0,1.016-1.131h0l.014-.03a3.429,3.429,0,0,0,.2-.44c1.235-2.657,7.773-16.083,16.906-22.98,0,0-11.5.29-20.074,15.876Z"
        transform="translate(-126.85 -89.294)" fill="#ebede9" />
</svg> --}}

