<main class="goals_page">
    <h1>Doelen</h1>
    <form class="add_goal">
        <div class="close_popup">X</div>
        {{#each food_goals}}
            <section>
                <img src="{{icon}}">
                <h3>
                    <input type="checkbox" id={{id}} name="goal" class="goal_input" value="{{name}}">
                    <label for={{id}}></label>
                    {{name}}
                </h3>
            </section>
        {{/each}}
        <input type="submit" value="Voeg toe" />
    </form>
    <ul class="unordered_goal_list">
        <p>Begin met het aanmaken van doelen! Voor jou samengesteld. Het is aan te raden om er op 2 à 3 te focussen.
            Empty state styling </p>
    </ul>
    <div class="button_wrapper">
        <button id="add">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.009" height="13.126" viewBox="0 0 13.009 13.126">
                <path id="noun-plus-518521"
                    d="M147.66,71.084h-3.638V67.446a1.463,1.463,0,0,0-2.916,0v3.638h-3.647a1.463,1.463,0,0,0,0,2.916H141.1v3.647a1.463,1.463,0,1,0,2.916,0V74.009h3.647a1.463,1.463,0,0,0,0-2.925Z"
                    transform="translate(-136.114 -66.101)" fill="#282727" />
            </svg>
            Maak doel aan
        </button>
    </div>
</main>
{{!-- <label for="time_reminder">Hoelaat wil je een herinnering krijgen?</label>
<input type="time" id="time_reminder" name="time_reminder" min="06:00" max="23:00"> --}}