<main class="profile">
    <header>
        <button class="previous_url" aria-label="Ga terug naar doelen">
            <svg xmlns="http://www.w3.org/2000/svg" width="31.681" height="31.681" viewBox="0 0 31.681 31.681">
                <path id="noun-plus-518521"
                    d="M164.13,80.113H153.9V69.884a4.113,4.113,0,0,0-8.2,0V80.113c.005,4.942,0,6.905-.023,8.147,0,.069,0,.052,0,.052,8.194-.01.04-.037,8.2.026H164.13a4.113,4.113,0,0,0,0-8.226Z"
                    transform="translate(-40.544 -149.749) rotate(45)" fill="#282727" />
            </svg>
        </button>
    </header>
    <button class="profile_picture" aria-label="Stel een profielfoto in"></button>
    <h1>{{name}}</h1>
    <blockquote class="quote">
        <strong>Motivatie voor vandaag</strong>
        <p>{{quote.q}}</p>
        <cite>- {{quote.a}}</cite>
    </blockquote>
    <section class="grid_two_columns grid_streak">
        <article class="streak_record">
            <p>Hoogste streak</p>
            <strong>{{streak}}</strong>
        </article>
        <article class="see_answers">
            <p>Bekijk de door jou ingevulde antwoorden op de vragenlijst</p>
        </article>
    </section>
    <h2>Voor jou geselecteerd</h2>
    <section class="fyp_articles">
        <article>
            <h3>Makkelijke oefeningen</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Alles over eiwitten</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Alles over krachttraining</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Avocado in je eetpatroon</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Zo bouw je gewoontes</h3>
            <p>Lees meer...</p>
        </article>
    </section>
    <section class="questionnaire_answers show_popup hide_state">
        <article>
            <h2>Uw ingevulde antwoorden</h2>
            <div class="close_popup">
                <svg xmlns="http://www.w3.org/2000/svg" width="35.461" height="35.461" viewBox="0 0 35.461 35.461">
                    <path id="noun-plus-518521"
                        d="M158.27,75.663h-6.98v-6.98a2.807,2.807,0,0,0-5.6,0v6.98h-7a2.807,2.807,0,0,0,0,5.6h6.98v7a2.807,2.807,0,1,0,5.6,0v-6.98h7a2.807,2.807,0,0,0,0-5.613Z"
                        transform="translate(-31.697 -142.987) rotate(45)" fill="#282727" />
                </svg>
            </div>
        </article>
        <article class="grid_two_columns">
            {{#each questionnaire_response}}
                {{#each ../questionnaire}}
                    {{#ifCond this.id ../this.questionId}}
                        {{#if this.text}}
                            <p>{{this.text}}</p>
                        {{/if}}
                    {{/ifCond}}
                {{/each}}
                <article class="answer">
                    <p>{{this.response}}</p>
                    {{#each this.choiceOptionIds}}
                        {{#each ../../questionnaire}}
                            {{#each answerOptions}}
                                {{#ifCond this.id ../../this}}
                                    <p>{{this.text}}</p>
                                {{/ifCond}}
                            {{/each}}
                        {{/each}}
                    {{/each}}
                </article>
            {{/each}}
        </article>
    </section>
</main>