<main class="questionnaire_page">
    <header></header>
    <section class="background">
        <div class="progress_steps">
            <article class="active">Persoonlijk</article>
            {{#each domains}}
                <article>{{this.name}}</article>
            {{/each}}
        </div>
        <p id="amount_of_questions">{{questionnaire.length}}</p>
        <ol class="questionnaire">
            {{#each questionnaire}}
                <li id="question_{{inc @index}}">
                    <div id="progress">
                        <div></div>
                    </div>
                    <span id="spacing"></span>
                    {{#if this.text}}
                        <h2>{{this.text}}</h2>
                    {{/if}}
                    {{#ifCond this.type null}}
                        <input type="text" name={{this.id}} required>
                    {{/ifCond}}
                    {{#ifCond this.type "multiChoice"}}
                        {{#each this.answerOptions}}
                            <input type="radio" id={{this.id}} name={{../this.id}} value={{this.id}}{{#ifCond
                                this.selected true}} checked{{/ifCond}} required>
                            <label for={{this.id}}>{{this.text}}</label><br>
                        {{/each}}
                    {{/ifCond}}
                    {{#ifCond this.type "multiOpenChoice"}}
                        <div class="grid_two_columns">
                            {{#each this.answerOptions}}
                                <input type="checkbox" id={{this.id}} name={{../this.id}} value={{this.id}}{{#ifCond
                                    this.selected true}} checked{{/ifCond}}>
                                <label for={{this.id}}>{{this.text}}</label>
                            {{/each}}
                            {{#if this.openLabel}}
                                <p>{{this.openLabel}}</p>
                                <input type="text" name={{this.id}}>
                            {{/if}}
                        </div>
                    {{/ifCond}}
                    <span id="spacing"></span>
                    <div class="button_wrapper">
                        {{!-- Hide the previous button in the first question. --}}
                        <button class="prev_button{{#ifCond @index 0}} hide_button{{/ifCond}}">Vorige</button>
                        {{#ifCond @index ../length}}
                            <form action="/questionnaire" method="post">
                                <input type="hidden" id="answers" name="answers">
                        {{/ifCond}}
                        {{!-- Change the next button text and background in the last question. --}}
                        <button class="next_button{{#ifCond @index ../length}} turquoise"
                            type="submit">Dashboard</button>
            {{else}}">Volgende</button>{{/ifCond}}
                {{#ifCond @index ../length}}</form>{{/ifCond}}
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
</main>