<main>
    <header></header>
    <section class="background">
        <div class="progress_steps">
            {{!-- Add the active classlist after answering all the questions from the category. --}}
            <article class="gegevens_icon active" data-title="gegevens">Gegevens</article>
            <article class="voeding_icon" data-title="voeding">Voeding</article>
            <article class="bewegen_icon" data-title="bewegen">Bewegen</article>
        </div>
        <ul class="questionnaire">
            {{#each questionnaire}}
                <li id="question_{{inc @index}}">
                    <p id="amount_of_questions">{{../questionnaire.length}}</p>
                    <div id="progress">
                        <div></div>
                    </div>
                    <span id="spacing"></span>
                    {{#if this.questionText}}
                        <h2>{{this.questionText}}</h2>
                    {{/if}}
                    {{#if this.text}}
                        <h2>{{this.text}}</h2>
                    {{/if}}
                    {{#ifCond this.type "string"}}
                        <input type="text">
                    {{/ifCond}}
                    {{#ifCond this.type "choice"}}
                        {{#each this.options}}
                            <input type="radio" id={{this.id}} name={{../this.id}} value={{this.id}}{{#ifCond this.selected true}} checked{{/ifCond}}>
                            <label for={{this.id}}>{{this.text}}</label><br>
                        {{/each}}
                    {{/ifCond}}
                    {{#ifCond this.type "open-choice"}}
                        <div class="options_container">
                            {{#each this.options}}
                                <input type="checkbox" id={{this.id}} name={{../this.id}} value={{this.id}}{{#ifCond this.selected true}} checked{{/ifCond}}>
                                <label for={{this.id}}>{{this.text}}</label>
                                {{#ifCond this.id "bs-an"}}
                                    <input type="text">
                                {{/ifCond}}
                            {{/each}}
                        </div>
                    {{/ifCond}}
                    <span id="spacing"></span>
                </li>
            {{/each}}
        </ul>
        <div class="button_wrapper">
            <button class="prev_button">Vorige</button>
            <button class="next_button">Volgende</button>
        </div>
    </section>
</main>